
<footer class="footer">
  <div class="footer-container container">
    <div class="footer-address-wrap">
      <a href="" class="footer-link-logo">
        <svg class="footer-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-list-address">
        <li class="footer-address-item">
          <a href="tel:+380665438912" class="footer-address-link" target="_blank"
            >UK: +38 066 543 89 12</a
          >
        </li>
        <li class="footer-address-item">
          <a href="" class="footer-address-link">Ukraine, Kyiv</a>
        </li>
      </ul>
    </div>
    <div class="footer-soc-wrap">
      <div class="footer-soc-container">
        <ul class="footer-list-soc">
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-soc-link"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              href=" https://www.facebook.com/goITclub/"
              class="footer-soc-link"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-soc-link"
              target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-container-wrap">
        <ul class="footer-list-soc">
          <li class="footer-soc-item">
            <a href="" class="footer-link">About us</a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-link">Our courses</a>
          </li>
          <li class="footer-soc-item">
            <a href="">Our mentors</a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-link">Reviews</a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-link">contacts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-form-wrap">
      <form class="footer-form-input">
        <label class="footer-label">
          <input
            type="email"
            class="footer-input"
            placeholder="Enter your email"
          />
        </label>
        <button type="submit" class="footer-button">Go</button>
      </form>
    </div>
    <div class="footer-text-wrap">
      <p class="footer-text">
        Privacy Policy <br> Public Offering Agreement
      </p>
      <p class="footer-text footer-fixed-text">2023 Focus Frame &copy; All rights reserved</p>
    </div>
  </div>
</footer>

