<footer class="footer" id="footer">
  <div class="footer-container container">
    <div class="footer-address-soc-btn">
      <div class="footer-address-wrap">
        <a href="./index.html" class="footer-link-logo">
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-list-address">
          <li class="footer-address-item">
            <a
              href="tel:+380665438912"
              class="footer-address-link"
              target="_blank"
              >UK: +38 066 543 89 12</a
            >
          </li>
          <li class="footer-address-item">
            <a
              href="https://www.google.com/maps/place/Kyiv,+02000/@50.4020075,30.2030542,10z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234!16zL20vMDJzbjM0?entry=ttu"
              class="footer-address-link"
              target="_blank"
              >Ukraine, Kyiv</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-soc-wrap">
        <div class="footer-soc-container">
          <ul class="footer-list-soc">
            <li class="footer-soc-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-soc-link"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li class="footer-soc-item">
              <a
                href=" https://www.facebook.com/goITclub/"
                class="footer-soc-link"
                target="_blank"
                >Facebook</a
              >
            </li>
            <li class="footer-soc-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-soc-link"
                target="_blank"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-container-wrap">
          <ul class="footer-list-soc">
            <li class="footer-soc-item">
              <a href="#about-us" class="footer-link">About us</a>
            </li>
            <li class="footer-soc-item">
              <a href="#our-courses" class="footer-link">Our courses</a>
            </li>
            <li class="footer-soc-item">
              <a href="#our-mentors">Our mentors</a>
            </li>
            <li class="footer-soc-item">
              <a href="#reviews" class="footer-link">Reviews</a>
            </li>
            <li class="footer-soc-item">
              <a href="#footer" class="footer-link">contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-form-wrap">
        <form class="footer-form-input">
          <label class="footer-label">
            <input
              type="email"
              name="users-mail"
              id="users-mail"
              class="footer-input"
              placeholder="Enter your email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />
          </label>
          <button type="submit" class="footer-button">Go</button>
        </form>
      </div>
    </div>
    <div class="footer-text-wrap">
      <p class="footer-text">
        Privacy Policy <br />
        Public Offering Agreement
      </p>
      <p class="footer-text footer-fixed-text">
        2023 Focus Frame &copy; All rights reserved
      </p>
    </div>
  </div>
</footer>
