<!-- Snuff-->
<header class="header">
  <div class="container header-container">
    <div class="header-wrap">
      <a href="/" class="hero-logo-link"
        ><svg class="header-logo">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="hero-navigation-menu">
        <ul class="hero-navigation-list">
          <li class="hero-navigation-item">
            <a href="#" class="hero-navigation-link">About us</a>
          </li>
          <li class="hero-navigation-item">
            <a href="#" class="hero-navigation-link">Our courses</a>
          </li>
          <li class="hero-navigation-item">
            <a href="#" class="hero-navigation-link">Our mentors</a>
          </li>
          <li class="hero-navigation-item">
            <a href="#" class="hero-navigation-link">Reviews</a>
          </li>
          <li class="hero-navigation-item">
            <a href="#" class="hero-navigation-link">contacts</a>
          </li>
        </ul>
      </nav>

      <div class="header-content-wrap">
        <a class="header-sign-up" href="#"
          ><svg width="16" height="16" class="header-sign-up-icon">
            <use href="./img/icons.svg#icon-camera"></use>
          </svg>
        </a>
        <button type="button" class="header-burger-button">
          <span class="strip"></span>
          <span class="strip strip-center"></span>
          <span class="strip"></span>
        </button>
      </div>
    </div>
    <div>
      <a href="#" class="header-sign-up-link">Sign up</a>
    </div>
  </div>
</header>
