<!-- Snuff-->
<header class="header">
  <div class="container">
    <div class="header-wrap">
      <svg class="header-logo">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <div class="header-content-wrap">
        <a class="header-sign-up" href="#"
          ><svg width="16" height="16" class="header-sign-up-icon">
            <use href="./img/icons.svg#icon-camera"></use>
          </svg>
        </a>
        <button type="button" class="header-burger-button">
          <div class="strip"></div>
          <div class="strip strip-center"></div>
          <div class="strip"></div>
        </button>
      </div>
    </div>
  </div>
</header>
