<!-- Анастасия -->
<section class="mentors" id="our-mentors">
  <div class="container container-mentors">
    <h2 class="mentors-titel">
      Our<span class="mentors-titel-span"> Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          src="./img/girl1.webp"
          alt="Emilia Smith mentor"
          width="180"
          height="180"
          class="mentors-image"
        />
        <div class="mentors-name">
          <h3 class="mentors-subtitel">Emilia Smith</h3>
          <p class="mentors-text">1.5 years of experienc</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          src="./img/boy1.webp"
          alt="Alex Lebedev mentor"
          width="180"
          height="180"
          class="mentors-image"
        />
        <div class="mentors-name">
          <h3 class="mentors-subtitel">Alex Lebedev</h3>
          <p class="mentors-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item item-mia">
        <img
          src="./img/girl2.webp"
          alt="Mia Dubrovska mentor"
          width="180"
          height="180"
          class="mentors-image"
        />
        <div class="mentors-name">
          <h3 class="mentors-subtitel">Mia Dubrovska</h3>
          <p class="mentors-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          src="./img/boy2.webp"
          alt="Eliot Kovalev mentor"
          width="180"
          height="180"
          class="mentors-image"
        />
        <div class="mentors-name">
          <h3 class="mentors-subtitel">Eliot Kovalev</h3>
          <p class="mentors-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
