<!-- bogdan -->
<section class="reviews" id="reviews">

    <div class="container wrapper-reviews">

        <h2 class="title-reviews">Reviews</h2>

        <ul class="wrapper-comments-all">

            <li class="wrapper-comments">
                <div class="wrapper-user-info">

                    <img src="./img/user1.webp" alt="Abraham" class="user-comments-photo" width="56" height="56">

                    <article class="wrapper-user-name">
                        <h3 class="user-name">Abraham Baker</h3>
                        <p class="user-text-p">Student</p>
                        <div class="wrapper-mmr">
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="minus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </div>
                    </article>
                </div>

                <p class="user-comments-text">I am very pleased that I decided to enroll in photography school. 
                        The teachers turned out to be very talented and experienced professionals who share their knowledge 
                        and are dedicated to their work. I was able to expand my skills and discover my own style.</p>
               
            </li>

            <li class="wrapper-comments">
                <div class="wrapper-user-info">

                    <img src="./img/user2.webp" alt="Abraham" class="user-comments-photo" width="56" height="56">

                    <article class="wrapper-user-name">
                        <h3 class="user-name">Amanda Lowery</h3>
                        <p class="user-text-p">Student</p>
                        <div class="wrapper-mmr">
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="plus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star-reviews"></use>
                            </svg>
                            <svg class="minus-mmr" width="16" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </div>
                    </article>
                </div>

                <p class="user-comments-text">The courses at the photography school exceeded all my expectations.
                    I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity.
                    Hands-on classes and workshops helped me understand different styles of photography.</p>
            </li>
        </ul>
    </div>

</section>