<section class="sect-sign" id="sing-in">
  <div class="container sign-wrap-tabl">
    <div class="sign-first-div">
      <h2 class="sign-header">Sign <span class="sign-header-span">Up</span></h2>
      <p class="sign-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <div class="sign-form-inp-wrap">
          <input
            class="sign-form-inp inpt"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Enter your name"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
        </div>
        <div class="sign-form-inp-wrap">
          <input
            class="sign-form-inp inpt"
            type="email"
            name="user-mail"
            id="user-mail"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
        </div>
        <div class="sign-form-txtarea-wrap">
          <textarea
            class="sign-form-txtarea inpt"
            name="user-message"
            id="user-message"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="sign-form-wrap">
          <button class="sign-form-btn" type="submit">Send</button>
          <p class="sign-form-text-btn">
            By clicking on &#34;Send&#34; button, you agree to our
            <a class="sign-form-link" href="">Privacy Policy</a>,
            <br class="sign-form-br" />
            and allow Promodo to use this information for marketing purposes.
          </p>
        </div>
      </form>
    </div>
    <div class="sign-second-div">
      <ul class="sign-second-div-list">
        <li class="sign-second-div-first-item">
          <img
            class="sign-img-first"
            src="./img/isabella-mendes.webp"
            alt="lens"
            width="190"
            height="142"
          />
        </li>
        <li class="sign-second-div-second-item">
          <img
            class="sign-img-second"
            src="./img/video-entry-product.webp"
            alt="professional camera"
            width="240"
            height="296"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
