.run-line {
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    padding: 20px 0;

}

.run-line-title {
    color: #ffffff;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.56px;
    text-transform: uppercase;

    text-align: center;
    display: inline-block;
    margin: 0;
    animation: runline 8s linear infinite;
}

@keyframes runline {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (min-width:768px) {
    .run-line-title {
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;

        letter-spacing: -0.8px;
        text-transform: uppercase;
        animation: runline 10s linear infinite;
    }
          }
    
          @keyframes runline {
              0% {
                  transform: translateX(120%);
              }
    
              100% {
                  transform: translateX(-100%);
              }
          }


/*==============Dekstop vers=============*/
@media (min-width:1280px){
    .run-line-title {
            font-size: 59px;
                line-height: 64px;
                letter-spacing: -1.18px;
                text-transform: uppercase;
                animation: runline 10s linear infinite;
    }
    
    @keyframes runline {
        0% {
            transform: translateX(130%);
        }
    
        100% {
            transform: translateX(-100%);
        }
    }

}