.header {
  padding: 20px 0;
}
.header-wrap {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #121212;
}
.header-logo {
  width: 127px;
  height: 20px;
  fill: #ffff;
  flex-shrink: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-logo-link:hover > .header-logo,
.hero-logo-link:focus > .header-logo {
  fill: #bea69e;
}

.hero-navigation-menu {
  display: none;
}

.header-content-wrap {
  display: flex;
  gap: 14px;
}
.header-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 29, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.header-sign-up:active > .header-sign-up-icon,
.header-sign-up:focus > .header-sign-up-icon {
  fill: rgba(190, 166, 158, 1);
}
.header-sign-up-icon {
  fill: rgba(190, 166, 158, 0.4);
}
.header-burger-button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 0;
  align-items: end;
}
.header-burger-button:hover > .strip,
.header-burger-button:focus > .strip {
  background-color: #bea69e;
}

.strip {
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffff;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.strip-center {
  width: 20px;
}
.header-sign-up-link {
  display: none;
}

/*? burger  */

.backdrop-mobal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(18, 18, 18, 0.40);
  z-index: 50;
}
.modal-burger {
  position: absolute;
  right: 0;
  background-color: #bfa8a0;
  width: 52%;
  max-width: 218px;
}
.button-burger {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.button-burger:hover,
.button-burger:focus{
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-burger {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 180px 0 133px 20px;
}
.burger-item:hover,
.burger-item:focus {
  font-weight: 700;
}
.burger-item {
  color: #121212;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header {
    padding-bottom: 40px;
  }
  .header-container {
    display: flex;
    gap: 14px;
    justify-content: end;
  }
  .header-wrap {
    height: 60px;
    width: 100%;
  }
  .header-sign-up {
    display: none;
  }
  .header-sign-up-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffff;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-sign-up-link:hover,
  .header-sign-up-link:focus {
    color: #bea69e;
    background-color: #1d1d1d;
  }

/* burger  */

.modal-burger {
  width: 61%;
  max-width: 480px;
}
.nav-burger {
  gap: 28px;
  padding: 232px 0 114px 64px;
}
.camera-modal{
width: 100%;
}

}
@media (min-width: 1280px) {
  .header {
    padding-bottom: 80px;
  }
  .header-wrap {
    justify-content: space-between;
    padding: 22px 50px;
  }
  .header-content-wrap {
    display: none;
  }
  .header-container {
  }
  .header-sign-up-link {
    width: 238px;
  }
  .header-burger-button {
    display: none;
  }
  .hero-navigation-menu {
    display: block;
  }
  .hero-navigation-list {
    display: flex;
    gap: 28px;
  }
  .hero-navigation-item {
  }
  .hero-navigation-link {
    text-transform: uppercase;
    line-height: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-navigation-link:focus,
  .hero-navigation-link:hover {
    color: #bea69e;
  }
  .header-container {
    padding: 0px;
  }
}
