.header {
  padding: 20px 0;
}
.header-wrap {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header-logo {
  width: 127px;
  height: 20px;
  fill: #ffff;
  flex-shrink: 0;
}
.header-content-wrap {
  display: flex;
  gap: 14px;
}
.header-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 29, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.header-sign-up:active .header-sign-up-icon {
  fill: rgba(190, 166, 158, 1);
}
.header-sign-up-icon {
  fill: rgba(190, 166, 158, 0.4);
}
.header-burger-button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 0;
  align-items: end;
}
.strip {
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffff;
}
.strip-center {
  width: 20px;
}
.header-sign-up-link {
  display: none;
}
@media (min-width: 768px) {
  .header-container {
    display: flex;
    gap: 14px;
    justify-content: end;
  }
  .header-wrap {
    height: 60px;
    width: 100%;
  }
  .header-sign-up {
    display: none;
  }
  .header-sign-up-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffff;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
  }
  .header-sign-up-link:hover,
  .header-sign-up-link:focus {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}
@media (min-width: 1280px) {
}
