.hero {
}
.container {
}
.hero-wrap {
  background-color: #1d1d1d;
  border-radius: 30px;
  padding: 40px 20px 0 20px;
}
.hero-heder {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
.hero-photography {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
  margin-right: 5px;
}
.hero-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-top: 20px;
}
.hero-students-reviews {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.hero-students-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-students {
  position: relative;
  height: 44px;
  width: 109px;
}
.hero-student-img {
  border-radius: 50%;
  position: absolute;
}
.hero-first-student {
  z-index: 3;
}
.hero-second-student {
  left: 32px;
  z-index: 2;
}
.hero-third-student {
  left: 64px;
  z-index: 1;
}
.hero-happy-wrap {
  display: flex;
  gap: 4px;
  align-items: center;
}
.hero-happy-link {
  display: block;
  line-height: 1.28;
  letter-spacing: -0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-happy-link:focus,
.hero-happy-link:hover {
  color: #bea69e;
}
.hero-arrow-icon {
  position: relative;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-arrow-icon:hover,
.hero-arrow-icon:focus {
  fill: #bea69e;
  cursor: pointer;
}
.hero-happy-link:hover + .hero-arrow-icon,
.hero-happy-link:focus + .hero-arrow-icon{
  fill: #bea69e;
  left: 15px;
}
.hero-reviews-wrap {
  display: flex;
  gap: 12px;
}
.hero-star {
  height: 44px;
  width: 44px;
  background-color: #bea69e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-star-icon {
  fill: rgba(18, 18, 18, 1);
}
.hero-reviews-text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.28;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}
.hero-reviews-number {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
}
.hero-img {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero-wrap {
    padding: 64px 32px 0 32px;
  }
  .hero-heder {
    max-width: 500px;
    font-size: 60px;
  }
  .hero-text {
    max-width: 418px;
  }
  .hero-students-block {
    flex-direction: row;
    gap: 15px;
  }
  .hero-happy-wrap {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .hero-happy-link {
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-star {
    height: 50px;
    width: 50px;
  }
  .hero-reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .hero-students-reviews {
    margin-top: 40px;
  }
  .hero-img {
    margin-top: -61px;
    width: 393px;
  }
  .hero-student-img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1280px) {
  .hero-wrap {
    padding: 80px 0 0 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .hero-text {
    padding-bottom: 136px;
  }
  .hero-img {
    width: 397px;
  }
  .hero-students-reviews {
    margin-bottom: 50px;
  }
}
