.sign-second-div {
    display: none;
}

.sign-header {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.sign-header-span {
    color: #BEA69E;
}

.sign-text {
    max-width: 295px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 41px;
}

.inpt {
    font-family: inherit;
    color: #FFF;
    padding: 18px 14px;
    outline: transparent;
}

.inpt::placeholder {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    opacity: 0.7;
}

.sign-form-inp {
    width: 100%;
    height: 46px;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-form-inp:hover, .sign-form-inp:focus, .sign-form-inp:active {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.sign-form-inp-wrap {
    margin-bottom: 8px;
}

.sign-form-txtarea {
    width: 100%;
    height: 112px;
    background-color: transparent;
    resize: none;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.sign-form-txtarea-wrap {
    margin-bottom: 40px;
}

.sign-form-btn {
    width: 100%;
    height: 48px;
    padding: 14px 0;
    border: none;
    border-radius: 12px;
    background-color: #FFF;
    color: #121212;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-form-btn:hover,
.sign-form-btn:focus,
.sign-form-btn:active {
    background-color: #1D1D1D;
    color: #BEA69E;
}

.sign-form-text-btn {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-form-br {
    display: none;
}


.sign-form-link {
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.sign-form-link:hover,
.sign-form-link:focus,
.sign-form-link:active {
    color: #fff;
}


/* ! Tablet */
@media screen and (min-width: 768px) {
    .sign-header {
        font-size: 48px;
        line-height: 1.13;
    }

    .sign-text {
        max-width: 480px;
        font-size: 16px;
        line-height: 1.29;
        margin-bottom: 40px;
        }

    .sign-form {
        max-width: 480px;
    }

    .inpt {
        padding: 20px 18px;
    }

    .inpt::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .sign-form-inp {
        height: 60px;
    }

    .sign-form-inp-wrap {
        margin-bottom: 8px;
    }

    .sign-form-txtarea {
        height: 119px;
    }

    .sign-form-btn {
        height: 60px;
        padding: 16px 0;
        margin-bottom: 21px;
        font-size: 18px;
        line-height: 1.56;
    }

    .sign-form-text-btn {
        font-size: 14px;
        line-height: 1.29;
    }

    .sign-form-br {
        display: block;
    }
}

/* !Desktop */
@media screen and (min-width: 1280px) {
    .sign-second-div {
        display: block;
    }

    .sign-wrap-tabl {
        display: flex;
        gap: 60px;
    }

    .sign-second-div-list {
        display: flex;
        gap: 39px;
        align-items: flex-end;
    }

    .sign-second-div-first-item {
        width: 180px;
        height: 288px;
        border-radius: 1000px;
        background-color: #BEA69E;
        position: relative;
    }

    .sign-img-first {
        position: absolute;
        top: 76px;
        right: 19px;
        
    }

    .sign-second-div-second-item {
        width: 340px;
        height: 540px;
        border-radius: 1000px;
        background-color: #1D1D1D;
        position: relative;
    }

    .sign-img-second {
       position: absolute;
       top: 156px;
       left: 50px;
    }


}


@media screen and (min-width: 1440px) {
    .sign-wrap-tabl {
        gap: 200px;
    }

    .sign-second-div-first-item {
        width: 190px;
    }

    .sign-second-div-second-item {
        width: 350px;
    }


}