/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./advertisement.css');
@import url('./sign-in.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./reviews.css');
@import url('./footer.css');

body {
  background-color: #121212;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding-bottom: 80px;
}

.background-header-hero {
  background-image: url(../img/Graphic-bg.png);
  background-position: center;
  background-size: 75%;
  background-repeat: round;
}



@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  section {
    padding-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  section {
    padding-bottom: 150px;
  }
}

@media (min-width: 1440px){
  .container{
    max-width: 1440px;
  }
}